@media screen and (max-width: 1200px) {
   .home_container{
    flex-direction: column;
   }

    .bike_slider{
      flex-direction: column;
    }

    .slaider_left{
      width: 100%;
      order: 2;
      text-align: center;
    }
   
   .slider_right{
       width: 100%;
       order: 1;
   }

 
   .home::after{
    height: 100vh;
    background-size: cover;
   }

   .home_left{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.home_p {
  margin: 20px 0px;
  width: 80%;
}


.home_right{
  width: 100%;
}

.home_right img{
  width: 100%;
}
}

@media screen and (max-width: 780px) {
    .menu{
      display: none;
    } 

    .hid{
      display: block;
    }

    .home::after {
      height: 100%;
    }
    

.wrapper_text h1{
   font-size: 30px;
}

.wrapper_text h4{
  font-size: 22px;
}

.wrapper_img  img{
  width: 90%;
}


}

@media screen and (max-width: 500px) {
   .heding_text{
    font-size: 22px;
   }

   .images img{
      width: 100%;
   }

   .images{
    overflow: hidden;
   }

   .wrapper{
    width: 100%;
   }


.wrapper_text h1{
   font-size: 20px;
}

.wrapper_text h4{
  font-size: 18px;
}


.slaider_left h1{
   font-size: 20px;
}

.slaider_left h2{
   font-size: 20px;
}

.slaider_left ul li {
  font-size: 14px;
}

.wrapper_text h4{
  font-size: 18px;
}

.time_box{
  display: none;
}

}